*{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    

}
h1{

    
    
    border: 1rem solid black;
    background-color: rgb(135, 38, 226);
   
;}

ul{
    list-style: none;
    font-size: medium;
    color: aliceblue;
}

a{
    border{
    
    }
}
 body{
   background-image:url(https://img.freepik.com/free-vector/blue-black-abstract-background_1340-17012.jpg) ;
        background-repeat: no-repeat;
        background-size: cover;
   
 }
 p{
    color: aliceblue;
 }


 